@{
    ViewData["Title"] = "Firebase";
}

<div class="text-center">
    <h1 class="display-4">Welcome to firebase</h1>
    <button class="btn btn-info btn-lg btn-block" onclick="FirebaseGet();">Get firebase example</button>
    <br/>

    <div id="firebaseElements"> 
        
    </div>
</div>
