@{
    ViewData["Title"] = "Firebase";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="text-center">
    <h1 class="display-4">Welcome to firebase</h1>
    <br/>

    <div id="countryButtons">
        <script>
            window.location.href = '@Url.Action("IsSignedIn", "Home")';
        </script>
    </div>    

    <br/>

    <div id="accordion"></div>
</div>
